* {
  font-family: "Fira Code";
  font-size: 14px;
  font-weight: 700;
}

#window {
  border-radius: 10px;
}

#input {
  background: #101935;
  margin: 5px;
}

#inner-box {
  background-color: #10193522;
}

#outer-box {
  background: #101935;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  color: #ffffff;
} 
